node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# TESTS
/serverless
/data

# macOS
.DS_Store

*.log
.expo
.expo-shared
.vscode
.eslintrc.json
*.config.js